<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/adminLogin/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/adminLogin/css/owl.carousel.min.css">

    <link rel="stylesheet" href="/adminLogin/css/bootstrap.min.css">

    <link rel="stylesheet" href="/adminLogin/css/style.css">
    <script src="/cropper/cropper.js"></script>
   
    <title>Add New Product</title>
</head>

<body>
    <div class="half">
        <div class="bg order-1 order-md-2" style="background-image: url('/adminLogin/images/bg_1.jpg');"></div>
        <div class="contents order-2 order-md-1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-12">
                        <div class="text-center mb-5">
                            <h3>Add <strong>New Product</strong></h3>

                        </div>
                        <form action="/admin/addProduct" method="POST" enctype="multipart/form-data"
                            style="padding-top: 40px;">


                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label for="inputName">Product Name</label>
                                    <input type="text" class="form-control" id="inputName" name="Name" minlength="4" required>
                                </div>


                                <div class="form-group col-md-7">
                                    <label for="inputDescription">Description</label>
                                    <input type="text" class="form-control" id="inputDescription" required minlength="4" name="Description">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputPrice">Price</label>
                                    <input type="number" class="form-control" id="inputPrice" name="Price" required>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputStock">Stock</label>
                                    <input type="number" class="form-control" id="inputStock" name="Stock" required>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="category">Category</label>

                                    <select name="Category" class="custom-select p-2">
                                        <option selected>Choose a Category</option>
                                        {{#each category}}
                                        <option value="{{this.Category}}">{{this.Category}}</option>
                                        {{/each}}
                                    </select>

                                </div>
                            </div>
                            <div class="form-row pb-3">
                                <div class="form-group mt-2 col-md-4">
                                    <label for="exampleFormControlFile1">Select 1st Image</label>
                                    <img src="" style="width:100px;height:100px" id="imgView1"><br><br>
                                    <input type="file" class="form-control" name="Image1" id="exampleFormControlFile1"
                                        style="width: 250px;"  accept="image/*" required onchange="viewImage1(event)">
                                </div>
                                <div class="form-group mt-2 col-md-4">
                                    <label for="exampleFormControlFile2">Select 2nd Image</label>
                                    <img src="" style="width:100px;height:100px" id="imgView2"><br><br>
                                    <input type="file" class="form-control" name="Image2" id="exampleFormControlFile2"
                                        style="width: 250px;" accept="image/*" required onchange="viewImage2(event)">
                                </div>
                                <div class="form-group mt-2 col-md-4">
                                    <label for="exampleFormControlFile3">Select 3rd Image</label>
                                    <img src="" style="width:100px;height:100px" id="imgView3"><br><br>
                                    <input type="file" class="form-control" name="Image3" id="exampleFormControlFile3"
                                        style="width: 250px;" accept="image/*" required onchange="viewImage3(event)">
                                </div>
                            </div>

                            {{!-- <canvas id="testCanvas" width="300" height="300" style="border: 1px solid black;"></canvas>
                            <script type="text/javascript">
                                cropper.start(document.getElementById("testCanvas"), 1); // initialize cropper by providing it with a target canvas and a XY ratio (height = width * ratio)

                                function handleFileSelect() {
                                    // this function will be called when the file input below is changed
                                    var file = document.getElementById("exampleFormControlFile1").files[0];  // get a reference to the selected file

                                    var reader = new FileReader(); // create a file reader
                                    // set an onload function to show the image in cropper once it has been loaded
                                    reader.onload = function (event) {
                                        var data = event.target.result; // the "data url" of the image
                                        cropper.showImage(data); // hand this to cropper, it will be displayed
                                    };

                                    reader.readAsDataURL(file); // this loads the file as a data url calling the function above once done
                                }
                                 

                            </script>
                            <br>
                            <input type="button" onclick="cropper.startCropping()" value="Start cropping" />
                            <input type="button" onclick="cropper.getCroppedImageSrc()" value="Crop" />
                            <input type="button" onclick="cropper.restore()" value="Restore" />
                            --}}


                            <input type="submit" value="Submit" class="btn btn-block btn-primary mt-4">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
  function viewImage1(event) {
    document.getElementById('imgView1').src = URL.createObjectURL(event.target.files[0])
  }
  function viewImage2(event) {
    document.getElementById('imgView2').src = URL.createObjectURL(event.target.files[0])
  }
  function viewImage3(event) {
    document.getElementById('imgView3').src = URL.createObjectURL(event.target.files[0])
  }
</script>
    
    <script src="/adminLogin/js/jquery-3.3.1.min.js"></script>
    <script src="/adminLogin/js/popper.min.js"></script>
    <script src="/adminLogin/js/bootstrap.min.js"></script>
    <script src="/adminLogin/js/main.js"></script>
</body>


</html>