<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/adminLogin/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/adminLogin/css/owl.carousel.min.css">

    <link rel="stylesheet" href="/adminLogin/css/bootstrap.min.css">

    <link rel="stylesheet" href="/adminLogin/css/style.css">
  


    <title>Add New Product</title>
</head>

<body>
    <div class="half">
        <div class="bg order-1 order-md-2" style="background-image: url('/adminLogin/images/bg_1.jpg');"></div>
        <ol class="breadcrumb">
            <li class="pr-3"><a href="/admin" style="text-decoration: none;">Home</a></li>
            <li class="pr-3"><a href="allProducts" style="text-decoration: none;">All Products</a></li>
            <li class="active">Add New Product</li>
        </ol>
        <div class="contents order-2 order-md-1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-12">
                        <div class="text-center mb-5">
                            <h3>Add <strong>New Product</strong></h3>

                        </div>
                        <form action="/admin/addProduct" method="POST" enctype="multipart/form-data"
                            style="padding-top: 40px;" id="add-prod">


                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label for="inputName">Product Name</label>
                                    <input type="text" class="form-control" id="inputName" name="Name">
                                </div>


                                <div class="form-group col-md-7">
                                    <label for="inputDescription">Description</label>
                                    <input type="text" class="form-control" id="inputDescription" name="Description">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputPrice">Price</label>
                                    <input type="number" class="form-control" id="inputPrice" name="Price">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputStock">Stock</label>
                                    <input type="number" class="form-control" id="inputStock" name="Stock">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="category">Category</label>

                                    <select name="Category" class="custom-select p-2">
                                        <option value="empty" selected>Choose a Category</option>
                                        {{#each category}}
                                        <option value="{{this.Category}}">{{this.Category}}</option>
                                        {{/each}}
                                    </select>
                                    {{#if catErrPro}}
                                    <p class="text-center text-danger">{{catErrPro}}</p>
                                    {{/if}}

                                </div>
                            </div>
                            <div class="form-row pb-3">
                                <div class="form-group mt-2 col-md-4">
                                    <label for="exampleFormControlFile1">Select 1st Image</label>
                                    <img src="" style="width:100px;height:100px;display:none" id="imgView1"
                                        style="display: none;"><br><br>
                                    <input type="file" class="form-control" name="Image1" id="exampleFormControlFile1"
                                        style="width: 250px;" accept="image/*" required onchange="viewImage1(event)">
                                </div>
                                <div class="form-group mt-2 col-md-4">
                                    <label for="exampleFormControlFile2">Select 2nd Image</label>
                                    <img src="" style="width:100px;height:100px;display:none" id="imgView2"><br><br>
                                    <input type="file" class="form-control" name="Image2" id="exampleFormControlFile2"
                                        style="width: 250px;" accept="image/*" required onchange="viewImage2(event)">
                                </div>
                                <div class="form-group mt-2 col-md-4">
                                    <label for="exampleFormControlFile3">Select 3rd Image</label>
                                    <img src="" style="width:100px;height:100px;display:none" id="imgView3"><br><br>
                                    <input type="file" class="form-control" name="Image3" id="exampleFormControlFile3"
                                        style="width: 250px;" accept="image/*" required onchange="viewImage3(event)">
                                </div>
                            </div>
                            <p class="text-warning text-center" style="display: none;" id="errMsg">Only Image is
                                Accepted</p>


                            <input type="submit" value="Submit" id='sub' class="btn btn-block btn-primary mt-4">
                        </form>


                       



                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
    <script>
        $(document).ready(function () {
            $('#add-prod').validate({
                rules: {
                    Name: {
                        required: true,
                        minlength: 4
                    },
                    Description: {
                        required: true,
                        minlength: 4
                    },
                    Price: {
                        required: true

                    },
                    Stock: {
                        required: true
                    }
                }
            })

        })
    </script>





    <script>
        function viewImage1(event) {
            document.getElementById('imgView1').src = URL.createObjectURL(event.target.files[0])
            let file = event.target.files[0].name
            let extension = file.split('.').pop()
            if (extension == 'jpeg' || extension == 'png' || extension == 'jpg') {
                $('#imgView1').show()
                $('#sub').show()
                $('#errMsg').hide()

            }
            else {
                $('#sub').hide()
                $('#errMsg').show()
            }
        }
        function viewImage2(event) {
            document.getElementById('imgView2').src = URL.createObjectURL(event.target.files[0])
            let file = event.target.files[0].name
            let extension = file.split('.').pop()
            if (extension == 'jpeg' || extension == 'png' || extension == 'jpg') {
                $('#imgView2').show()
                 $('#sub').show()
                $('#errMsg').hide()
            }
            else {
                $('#sub').hide()
                $('#errMsg').show()
            }
        }
        function viewImage3(event) {
            document.getElementById('imgView3').src = URL.createObjectURL(event.target.files[0])
            let file = event.target.files[0].name
            let extension = file.split('.').pop()
            if (extension == 'jpeg' || extension == 'png' || extension == 'jpg') {
                $('#imgView3').show()
                 $('#sub').show()
                $('#errMsg').hide()
            }
            else {
                $('#sub').hide()
                $('#errMsg').show()
            }
        }
    </script>

    {{!--
    <script src="/adminLogin/js/jquery-3.3.1.min.js"></script> --}}
    <script src="/adminLogin/js/popper.min.js"></script>
    <script src="/adminLogin/js/bootstrap.min.js"></script>
    <script src="/adminLogin/js/main.js"></script>
</body>


</html>