
<div class="container-fluid" id="page-wrapper">
    <div class="login-register-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        

                    </div>
                    <div class="tab-content ">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container alert bg-light border-success">
                                <div class="login-register-form">
                                    <form action="/admin/addUser" id="addUser" method="post">
                                    <label class="text-primary">Name:</label>
                                     <input type="text" id="Name" name="Name" required minlength="4" placeholder="Enter your Name here"/>
                                      <label class="text-primary">Email ID:</label>
                                        <input type="email" name="Email" placeholder="Email ID" required/>
                                         <label class="text-primary">Mobile Number:</label>
                                        <input type="text" name="Mobile" placeholder="Mobile Number" required pattern=".{10,10}"/>
                                         <label class="text-primary">Password:</label>
                                        <input type="password" name="Password" placeholder="Password" required />
                                        <div class="button-box">
                                           
                                            <button type="submit"><span>Add User</span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

   