
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Target Material Design Bootstrap Admin Template</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/admin/materialize/css/materialize.min.css" media="screen,projection" />
	<!-- Bootstrap Styles-->
	<link href="/admin/css/bootstrap.css" rel="stylesheet" />
	<!-- FontAwesome Styles-->
	<link href="/admin/css/font-awesome.css" rel="stylesheet" />
	<!-- Morris Chart Styles-->
	<link href="/admin/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
	<!-- Custom Styles-->
	<link href="/admin/css/custom-styles.css" rel="stylesheet" />
	<!-- Google Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/admin/js/Lightweight-Chart/cssCharts.css">
</head>

<body>
	<div id="wrapper">
		<nav class="navbar navbar-default top-navbar" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse"
					data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand waves-effect waves-dark" href="index.html"><i
						class="large material-icons">track_changes</i> <strong>target</strong></a>

				<div id="sideNav" href="#"><i class="material-icons dp48">toc</i></div>
			</div>

			<ul class="nav navbar-top-links navbar-right">
				<li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i
							class="fa fa-user fa-fw"></i> <b>John Doe</b> <i
							class="material-icons right">arrow_drop_down</i></a></li>
			</ul>
		</nav>
		<!-- Dropdown Structure -->
		<ul id="dropdown1" class="dropdown-content">
			<li><a href="#"><i class="fa fa-user fa-fw"></i> My Profile</a>
			</li>
			<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
			</li>
			<li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
			</li>
		</ul>

		<!--/. NAV TOP  -->
		<nav class="navbar-default navbar-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="main-menu">

					<li>
						<a href="ui-elements.html" class="waves-effect waves-dark"><i class="fa fa-dashboard"></i>
							Dashboard</a>
					</li><br><br>
					<li>
						<a href="ui-elements.html" class="waves-effect waves-dark"><i class="fa fa-desktop"></i>
							All Users</a>
					</li>
					<li>
						<a href="chart.html" class="waves-effect waves-dark"><i class="fa fa-bar-chart-o"></i>
							All Products</a>
					</li>
					<li>
						<a href="tab-panel.html" class="waves-effect waves-dark"><i class="fa fa-qrcode"></i>All Transactions</a>
					</li>

					
				</ul>

			</div>

		</nav>
		<!-- /. NAV SIDE  -->

		<div id="page-wrapper">
			<div class="header">
				<h1 class="page-header">
					Dashboard
				</h1>
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li><a href="#">Dashboard</a></li>
					<li class="active">Data</li>
				</ol>

			</div>
			<div id="page-inner">

				<div class="dashboard-cards">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-3">

							<div class="card horizontal cardIcon waves-effect waves-dark">
								<div class="card-image red">
									<i class="material-icons dp48">import_export</i>
								</div>
								<div class="card-stacked red">
									<div class="card-content">
										<h3>84,198</h3>
									</div>
									<div class="card-action">
										<strong>REVENUE</strong>
									</div>
								</div>
							</div>

						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">

							<div class="card horizontal cardIcon waves-effect waves-dark">
								<div class="card-image orange">
									<i class="material-icons dp48">shopping_cart</i>
								</div>
								<div class="card-stacked orange">
									<div class="card-content">
										<h3>36,540</h3>
									</div>
									<div class="card-action">
										<strong>SALES</strong>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">

							<div class="card horizontal cardIcon waves-effect waves-dark">
								<div class="card-image blue">
									<i class="material-icons dp48">equalizer</i>
								</div>
								<div class="card-stacked blue">
									<div class="card-content">
										<h3>24,225</h3>
									</div>
									<div class="card-action">
										<strong>PRODUCTS</strong>
									</div>
								</div>
							</div>

						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">

							<div class="card horizontal cardIcon waves-effect waves-dark">
								<div class="card-image green">
									<i class="material-icons dp48">supervisor_account</i>
								</div>
								<div class="card-stacked green">
									<div class="card-content">
										<h3>88,658</h3>
									</div>
									<div class="card-action">
										<strong>VISITS</strong>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- /. ROW  -->
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-7">
						<div class="cirStats">
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="card-panel text-center">
										<h4>Profit</h4>
										<div class="easypiechart" id="easypiechart-blue" data-percent="82"><span
												class="percent">82%</span>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="card-panel text-center">
										<h4>No. of Visits</h4>
										<div class="easypiechart" id="easypiechart-red" data-percent="46"><span
												class="percent">46%</span>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="card-panel text-center">
										<h4>Customers</h4>
										<div class="easypiechart" id="easypiechart-teal" data-percent="84"><span
												class="percent">84%</span>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="card-panel text-center">
										<h4>Sales</h4>
										<div class="easypiechart" id="easypiechart-orange" data-percent="55"><span
												class="percent">55%</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--/.row-->
					<div class="col-xs-12 col-sm-12 col-md-5">
						<div class="row">
							<div class="col-xs-12">
								<div class="card">
									<div class="card-image donutpad">
										<div id="morris-donut-chart"></div>
									</div>
									<div class="card-action">
										<b>Donut Chart Example</b>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--/.row-->
				</div>


				<div class="row">
					<div class="col-md-5">
						<div class="card">
							<div class="card-image">
								<div id="morris-line-chart"></div>
							</div>
							<div class="card-action">
								<b>Line Chart</b>
							</div>
						</div>

					</div>

					<div class="col-md-7">
						<div class="card">
							<div class="card-image">
								<div id="morris-bar-chart"></div>
							</div>
							<div class="card-action">
								<b> Bar Chart Example</b>
							</div>
						</div>
					</div>

				</div>



				<div class="row">
					<div class="col-xs-12">
						<div class="card">
							<div class="card-image">
								<div id="morris-area-chart"></div>
							</div>
							<div class="card-action">
								<b>Area Chart</b>
							</div>
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-md-12">

					</div>
				</div>
				<!-- /. ROW  -->





				
				<!-- /. ROW  -->
				<div class="fixed-action-btn horizontal click-to-toggle">
					<a class="btn-floating btn-large red">
						<i class="material-icons">menu</i>
					</a>
					<ul>
						<li><a class="btn-floating red"><i class="material-icons">track_changes</i></a></li>
						<li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
						<li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
						<li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
					</ul>
				</div>

				<footer>
					<p>All right reserved. Template by: <a
							href="https://webthemez.com/admin-template/">WebThemez.com</a></p>


				</footer>
			</div>
			<!-- /. PAGE INNER  -->
		</div>
		<!-- /. PAGE WRAPPER  -->
	</div>
	<!-- /. WRAPPER  -->
	<!-- JS Scripts-->
	<!-- jQuery Js -->
	<script src="/admin/js/jquery-1.10.2.js"></script>

	<!-- Bootstrap Js -->
	<script src="/admin/js/bootstrap.min.js"></script>

	<script src="/admin/materialize/js/materialize.min.js"></script>

	<!-- Metis Menu Js -->
	<script src="/admin/js/jquery.metisMenu.js"></script>
	<!-- Morris Chart Js -->
	<script src="/admin/js/morris/raphael-2.1.0.min.js"></script>
	<script src="/admin/js/morris/morris.js"></script>


	<script src="/admin/js/easypiechart.js"></script>
	<script src="/admin/js/easypiechart-data.js"></script>

	<script src="/admin/js/Lightweight-Chart/jquery.chart.js"></script>

	<!-- Custom Js -->
	<script src="/admin/js/custom-scripts.js"></script>
    {{!-- <script src="/assets/js/vendor/vendor.min.js"></script>
    <script src="/assets/js/plugins/plugins.min.js"></script>

    <!-- Main Js -->
    <script src="/assets/js/main.js"></script> --}}


</body>



</html>