<div id="page-wrapper">
<div class="container ">
    <table class="table table-striped mt-5" style="margin-top:30px;">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile Number</th>
      <th scope="col">Status</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td><a href ="" class="btn btn-primary" >Edit</a> </td> 
      <td><a href ="" class="btn btn-danger" >Delete</a> </td> 
    </tr>
   
  </tbody>
</table>
</div>
</div>