<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/adminLogin/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/adminLogin/css/owl.carousel.min.css">

    <link rel="stylesheet" href="/adminLogin/css/bootstrap.min.css">

    <link rel="stylesheet" href="/adminLogin/css/style.css">
    <title>Add Category</title>
</head>

<body>
    <div class="half">
        <div class="bg order-1 order-md-2" style="background-image: url('/adminLogin/images/bg_1.jpg');"></div>
        <ol class="breadcrumb">
			<li class="pr-3"><a href="/admin" style="text-decoration: none;">Home</a></li>
			<li class="pr-3"><a href="/admin/allCoupons" style="text-decoration: none;">All Coupons</a></li>
			<li class="active">Generate Coupon</li>
        <div class="contents order-2 order-md-1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-6">
                        <div class="form-block">
                            <div class="text-center mb-5">
                                <h3>Generate <strong>New Coupon</strong></h3>

                            </div>
                            <form action="/admin/generateCoupon" method="post">
                                <div class="form-group first">
                                    <label for="DiscountPercent">Discount Percentage</label>
                                    <input type="number" class="form-control" 
                                        id="DiscountPercent" name="Percent" required max="100">
                                        <label class="pt-4">Expiry Date</label>
                                    <input type="Date" class="form-control" required name="Expiry" id="expDate">
                                    <label for="maxAmount">Maximum Amount</label>
                                    <input type="number" class="form-control" 
                                        id="maxAmount" name="MaxAmount" required>
                                   

                                </div>



                                <input type="submit" value="Generate Coupon" class="btn btn-block btn-primary" id="couponSubmit">
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
     <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script>
         $('#expDate').blur(function () {
                let date = document.getElementById('expDate').value
                console.log(date)
                let today = new Date()
                var dd = today.getDate();
                var mm = today.getMonth() + 1;

                var yyyy = today.getFullYear();
                if (dd < 10) {
                    dd = '0' + dd;
                }
                if (mm < 10) {
                    mm = '0' + mm;
                }
                 today = yyyy + '-' + mm + '-' + dd;
                 console.log(today)
                if (date < today) {
                    $('#couponSubmit').hide()
                    alert("Enter a Valid Date")
                }else{
                    $('#couponSubmit').show()
                }
            })
    </script>
    {{!-- <script src="/adminLogin/js/jquery-3.3.1.min.js"></script> --}}
    <script src="/adminLogin/js/popper.min.js"></script>
    <script src="/adminLogin/js/bootstrap.min.js"></script>
    <script src="/adminLogin/js/main.js"></script>
</body>


</html>