<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/adminLogin/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/adminLogin/css/owl.carousel.min.css">

    <link rel="stylesheet" href="/adminLogin/css/bootstrap.min.css">

    <link rel="stylesheet" href="/adminLogin/css/style.css">
    <title>Login</title>
</head>

<body>
    <div class="half">
        <div class="bg order-1 order-md-2" style="background-image: url('/adminLogin/images/bg_1.jpg');"></div>
        <div class="contents order-2 order-md-1">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-center">
                    {{#each products}}
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 alert border-light" data-aos="fade-up"
                        data-aos-delay="200">
                        <!-- Single Prodect -->
                        <div class="product mb-5" style="width: 250px;height:400px">
                            <div class="thumb">

                                <img src="/product-images/{{this.product._id}}a.jpg" alt="Product"
                                    style="height: 10em;width:15em;" />


                                <span class="badges">
                                    <span class="new"></span>
                                </span>
                                <div class="actions">


                                </div>

                            </div>
                            <div class="content">
                                <h5 class="title">{{this.product.Name}}</a></h5>
                                <span class="price">
                                    <span class="new">Rs.{{this.product.Price}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="/adminLogin/js/jquery-3.3.1.min.js"></script>
    <script src="/adminLogin/js/popper.min.js"></script>
    <script src="/adminLogin/js/bootstrap.min.js"></script>
    <script src="/adminLogin/js/main.js"></script>
</body>


</html>