
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
	<!-- Bootstrap Js -->
	<script src="/admin/js/bootstrap.min.js"></script>

	<script src="/admin/materialize/js/materialize.min.js"></script>
	
	<!-- Metis Menu Js -->
	<script src="/admin/js/jquery.metisMenu.js"></script>
	<!-- Morris Chart Js -->
	<script src="/admin/js/morris/raphael-2.1.0.min.js"></script>
	<script src="/admin/js/morris/morris.js"></script>


	<script src="/admin/js/easypiechart.js"></script>
	<script src="/admin/js/easypiechart-data.js"></script>

	<script src="/admin/js/Lightweight-Chart/jquery.chart.js"></script>

	<!-- Custom Js -->
	<script src="/admin/js/custom-scripts.js"></script>
    {{!-- <script src="/assets/js/vendor/vendor.min.js"></script>
    <script src="/assets/js/plugins/plugins.min.js"></script>

    <!-- Main Js -->
    <script src="/assets/js/main.js"></script> --}}
	




</body>



</html>