<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row breadcrumb_box  align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-12 text-center text-md-left">
                        <h2 class="breadcrumb-title">Shop</h2>
                    </div>
                    <div class="col-lg-6  col-md-6 col-sm-12">
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list text-center text-md-right">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Order Success</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- breadcrumb-area end -->

<!-- Cart Area Start -->
<div class="cart-main-area pt-100px pb-100px">
    <div class="container">
       <div class="row">
           <div class="col-md-12">
               <div class="alert bg-light border-secondary">
                   <p class="display-4 text-center">Thankyou For Shopping With Us</p>
               <p class="display-5 text-center">Your Order has been Successfully Placed</p>
               <h5 class="text-center">Your OrderId is {{orderId}}</h5>
               </div>
           </div>
           <div class="col-md-12 text-center">
               <a  class="btn btn-secondary" href="/userOrders" >My Orders</a>
               <a  class="btn btn-primary" href="/" >Go to Home</a>
           </div>
       </div>
       
    </div>
</div>