
<div class="container">
    <div class="login-register-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a class="active" data-bs-toggle="tab">
                            <h4>login with OTP</h4>
                        </a>

                    </div>
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form action="/userOTPLogin" method="post">
                                        <input type="number" name="Mobile" placeholder="Mobile Number" required minlength="10" maxlength="10"/>
                                        {{#if phoneErr}}
                                        <p class="text-center text-danger">{{phoneErr}}</p>
                                        {{/if}}
                                        
                                        <div class="button-box">
                                            {{!-- <div class="login-toggle-btn">
                                                <input type="checkbox" />
                                                <a class="flote-none" href="javascript:void(0)">Remember me</a>
                                                <a href="#">Forgot Password?</a>
                                            </div> --}}
                                            <button type="submit"><span>Request OTP</span></button>
                                            
                                        </div>
                                      
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
 