
<div class="container">
    <div class="login-register-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a class="active" data-bs-toggle="tab">
                            <h4>Register</h4>
                        </a>

                    </div>
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container alert bg-light border-success">
                                <div class="login-register-form">
                                    <form action="/userSignup" method="post">
                                     <input type="text" name="Name" placeholder="Enter your Name here" required/>
                                        <input type="email" name="Email" placeholder="Email ID" required/>
                                        {{#if emailErr}}
                                        <p class="text-center text-danger">{{emailErr}}</p>
                                        {{/if}}
                                        <input type="number" name="Mobile" placeholder="Mobile Number" minlength="10"  required/>
                                        {{#if mobileErr}}
                                        <p class="text-center text-danger">{{mobileErr}}</p>
                                        {{/if}}
                                        <input type="password" name="Password" placeholder="Password" required/>
                                        <div class="button-box">
                                           
                                            <button type="submit"><span>Signup</span></button>
                                            <a href="/userLogin" class="text-dark ml-5" style="text-decoration: none;">Already Have an Account</a>
                                        </div>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
   