<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row breadcrumb_box  align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-12 text-center text-md-left">
                        <h2 class="breadcrumb-title">Shop</h2>
                    </div>
                    <div class="col-lg-6  col-md-6 col-sm-12">
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list text-center text-md-right">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            {{!-- <li class="breadcrumb-item"><a href="shop-left-sidebar.html">Shop</a></li> --}}
                            <li class="breadcrumb-item active">Product Details</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- breadcrumb-area end -->

<!-- Product Details Area Start -->
<div class="product-details-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
                <!-- Swiper -->
                <div class="swiper-container zoom-top">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide zoom-image-hover">
                            <img class="img-responsive m-auto" src="/assets/images/product-image/zoom-image/1.jpg"
                                alt="">
                        </div>
                        <div class="swiper-slide zoom-image-hover">
                            <img class="img-responsive m-auto" src="/assets/images/product-image/zoom-image/2.jpg"
                                alt="">
                        </div>
                        <div class="swiper-slide zoom-image-hover">
                            <img class="img-responsive m-auto" src="/assets/images/product-image/zoom-image/3.jpg"
                                alt="">
                        </div>
                        <div class="swiper-slide zoom-image-hover">
                            <img class="img-responsive m-auto" src="/assets/images/product-image/zoom-image/4.jpg"
                                alt="">
                        </div>
                        <div class="swiper-slide zoom-image-hover">
                            <img class="img-responsive m-auto" src="/assets/images/product-image/zoom-image/5.jpg"
                                alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-container zoom-thumbs slider-nav-style-1 small-nav  mb-3">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img class="img-responsive m-auto" src="/assets/images/product-image/1.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="img-responsive m-auto" src="/assets/images/product-image/2.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="img-responsive m-auto" src="/assets/images/product-image/3.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="img-responsive m-auto" src="/assets/images/product-image/4.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img class="img-responsive m-auto" src="/assets/images/product-image/5.jpg" alt="">
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    {{!-- <div class="swiper-buttons">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div> --}}
                </div>
            </div>
            <div class="col-lg-7 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
                <div class="product-details-content quickview-content">
                    <h2>Originals Kaval Windbr</h2>

                    <div class="pro-details-rating-wrap">
                        <div class="rating-product">
                            <i class="ion-android-star"></i>
                            <i class="ion-android-star"></i>
                            <i class="ion-android-star"></i>
                            <i class="ion-android-star"></i>
                            <i class="ion-android-star"></i>
                        </div>

                    </div>
                    <div class="pricing-meta">
                        <ul>
                            <li class="old-price not-cut">$18.90</li>
                        </ul>
                    </div>
                    <p class="quickview-para">Lorem ipsum dolor sit amet, consectetur adipisic elit eiusm tempor incidid
                        ut labore et dolore magna aliqua. Ut enim ad minim venialo quis nostrud exercitation ullamco</p>

                    <div class="pro-details-cart mb-3">
                        <button class="add-cart btn btn-primary btn-hover-primary ml-4" href="#"> Add To
                            Cart</button>
                    </div>
                </div>
                {{!-- <div class="pro-details-wish-com">
                    <div class="pro-details-wishlist">
                        <a href="wishlist.html"><i class="ion-android-favorite-outline"></i>Add to
                            wishlist</a>
                    </div>
                    <div class="pro-details-compare">
                        <a href="compare.html"><i class="ion-ios-shuffle-strong"></i>Add to compare</a>
                    </div>
                </div> --}}
                <div class="pro-details-social-info">
                    <span>Share</span>
                    <div class="social-info">
                        <ul class="d-flex" style="font-size: 30px;">
                            <li>
                                <a href="#"><i class="ion-social-facebook mr-2"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-social-twitter mr-2"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-social-google mr-2"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-social-instagram mr-1"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="pro-details-policy mt-3">
                    <ul>
                        <li><img src="/assets/images/icons/policy.png" alt=""
                                class="img-responsive mr-2" /><span>Security Policy (Edit With
                                Customer Reassurance Module)</span></li>
                        <li><img src="/assets/images/icons/policy-2.png" alt=""
                                class="img-responsive mr-2" /><span>Delivery Policy (Edit
                                With Customer Reassurance Module)</span></li>
                        <li><img src="/assets/images/icons/policy-3.png" alt=""
                                class="img-responsive mr-2" /><span>Return Policy (Edit With
                                Customer Reassurance Module)</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>