<html>

<head>
  </head>

<body>
    {{#if somebody}}
    {{>somebody}}
    {{else}}
    {{#if admin}}
    {{>admin-header}}
    {{else}}
    {{>user-header}}
    {{/if}}
    {{/if}}
    {{{body}}}


    

</body>

</html>