<html>

<head>
  </head>

<body>
    
  
    {{#if admin}}
    {{>admin-header}}
    {{/if}}
    {{#if user}}
    {{>user-header}}
    {{/if}}
    {{{body}}}

    {{#if admin}}
    {{>admin-footer}}
    {{/if}}
    {{#if user}}
    {{>user-footer}}
    {{/if}}


    

</body>

</html>